flask
flask-cors
pandas
MetaTrader5
matplotlib
numpy
scikit-learn
psutil
pytz
# Optional: TA-Lib for advanced technical indicators
# Download from: https://www.lfd.uci.edu/~gohlke/pythonlibs/#ta-lib
# Install with: pip install --user TA_Lib‑0.4.0‑cp311‑cp311‑win_amd64.whl 
flask-jwt-extended
flask-sqlalchemy 